.page-header {
  .container {
    height: 70px;
  }
  .header-logo {
    width: 70px;
  }
}
.nav-list {
  display: flex;
  .nav-item {
    padding: 0 25px;
  }
  .nav-link {
    line-height: 60px;
    font-size: 18px;
    display: block;
    border-top: solid 3px transparent;
    &.active,
    &:hover {
      color: #F1B24A;
      border-top: solid 3px #F1B24A;
    }
  }
}
.social-list {
  list-style: none;
  display: flex;
  width: 100px;
  li{
    padding: 0 5px;
    a {
      font-size: 18px;
    }
    img{
      width: 20px;
      height: 20px;
    }
  }
}
