.form-wrap {
  margin: 50px 0;
  @extend %clr;
}
.form-control {
  border: solid 1px #F1B24A;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  .form-group {
    display: flex;
    flex-direction: column;
    input,
    select,
    textarea {
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: solid 1px #ccc;
    }
    textarea {
      resize: none;
    }
    .radio-group {
      label {
        margin-right: 20px;
      }
      input {
        margin-right: 5px;
      }
    }
  }
  .button-action {
    text-align: right;
  }
}
.register-form {
  width: 30%;
  float: left;
}
.login-form {
  width: 500px;
  margin: 50px auto;
}
