/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  .page-item {
    list-style: none;
    cursor: pointer;
    background: #355B4C;
    border: solid 1px #F1B24A;
    color: #fff;
    padding: 10px;
    margin: 5px;
    &.disable {
      background: #ccc;
    }
    &.active {
      color: #F1B24A;
    }
  }
}
