.list-new {
  padding: 0;
  width: 700px;
  margin: 50px auto;
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background: #fff;
    color: #333;
    border: solid 1px #F1B24A;
    border-radius: 10px;
    margin: 10px;
    h3 {
      color: #355B4C;
    }
    img {
      width: 100px;
    }
    .news-content {
      text-align: left;
    }
    p {
      margin: 10px 0;
    }
  }
}
/* List member */
.list-key {
  width: 900px;
  margin: 50px auto;
}
.list-member {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  .member-item {
    width: 25%;
    list-style: none;
    padding: 20px 0;
    .member-info {
      margin-top: 20px;
    }
    img {
      width: auto;
    }
    p {
      margin: 10px 0;
    }
  }
  a:hover {
    color: #F1B24A;
  }
}
